@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #f0bb0d;
    --secondary-color: #3498db;
    --background-color: #ffffff;
    --text-color: #333333;
    --light-gray: #f5f5f5;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--background-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

nav ul li a {
    color: var(--background-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.3s ease;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    text-align: center;
    margin-bottom: 3rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
    color: var(--text-color);
}

.qr-generator {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 2rem;
    margin-bottom: 3rem;
}

.input-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #d9a80b;
    transform: translateY(-2px);
}

.qr-preview {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#qrCodeContainer {
    background-color: var(--light-gray);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#downloadOptions {
    display: flex;
    gap: 1rem;
}

.download-btn {
    background-color: var(--secondary-color);
}

.download-btn:hover {
    background-color: #2980b9;
}

.features {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;
}

.feature {
    background-color: var(--light-gray);
    padding: 2rem;
    border-radius: 15px;
    text-align: center;
    transition: all 0.3s ease;
    flex: 1;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.feature i {
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.feature h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

footer {
    background-color: transparent;
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}



@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        padding: 1rem 2rem;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    nav ul.active li {
        text-align: center;
    }

    nav ul.active li a {
        padding: 1rem 0;
        display: block;
    }

    .qr-generator {
        flex-direction: column;
        gap: 2rem;
    }

    .input-container {
        width: 100%;
    }

    .qr-preview {
        width: 100%;
    }

    .features {
        flex-direction: column;
        gap: 2rem;
    }

    .feature {
        padding: 1rem;
    }

    .feature i {
        font-size: 2rem;
    }

    .feature h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    .nav ul {
        width: 100%;
        justify-content: center;
    }

    .logo,
    nav ul li a {
        font-size: 0.8rem;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .container,
    .hero,
    .qr-generator,
    .input-container,
    .qr-preview,
    .features,
    .feature {
        padding: 0.5rem;
    }

    .feature {
        margin-bottom: 1rem;
    }

    .footer-container {
        flex-direction: column;
        gap: 0.6rem;
        text-wrap: wrap;
    }

    .footer-container a {
        font-size: 0.6rem;
    }

    .download-btn {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .footer p {
        font-size: 0.6rem;
    }
}